/* Modal Style */
@import 'retina';

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.modal-backdrop {
  opacity: 0.1 !important;
}

*:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #cccccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

input[type="text"],
textarea {
  -webkit-appearance: none;
}

.modal-content {
  width: 750px;
  height: 320px;
  border: none;
  border-radius: 3px;
  margin-left: -75px;
}

#modal-close {
  cursor: pointer;
  display: inline-block;
  width: 51px;
  height: 51px;
  position: absolute;
  top: 0;
  right: 0;
  @include retina( '/assets/images/popup_delete.png', 2, 51px 51px, no-repeat);
}

#modal-title {
  padding-top: 64px;
}

#modal-description {
  padding-top: 30px;
}

#modal-thank-you {
  position: absolute;
  display: none;
  text-align: center;
  width: 750px;
  margin-top: 35px;
  color: #f15f26;
  font-weight: 400;
  font-size: 30px;
}

#modal-input {
  position: absolute;
  margin-top: 20px;
  margin-left: 70px;
  padding-left: 20px;
  width: 400px;
  height: 70px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #cccccc;
  color: #000000;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1.5px;
}

#modal-submit {
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  margin-left: 490px;
  width: 190px;
  height: 70px;
  border-radius: 3px;
  border: none;
  background: #f15f26;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@media (max-width: 767px) {
  #modal-title {
    padding-top: 26px;
    font-weight: 400;
  }

  #modal-description {
    padding-top: 17px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
  }

  #modal-thank-you {
    position: absolute;
    display: none;
    text-align: center;
    width: 300px;
    margin-top: 35px;
    color: #f15f26;
    font-weight: 400;
    font-size: 24px;
  }

  #modal-input {
    position: absolute;
    margin-top: 12px;
    margin-left: 27px;
    padding-left: 12px;
    width: 246px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid;
    border-color: #cccccc;
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    -webkit-appearance: none;
  }

  #modal-submit {
    position: absolute;
    margin-top: 62px;
    margin-left: 27px;
    width: 246px;
    height: 40px;
    border-radius: 2px;
    border: none;
    background: #f15f26;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .modal-content {
    width: 300px;
    height: 260px;
    margin-left: 0;
    border-radius: 2px;
  }

  #modal-close {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }
}
